<form [formGroup]="forgotForm" (ngSubmit)="resetPassword()" class="my-3">
    <h3 style="font-size: 1.5rem; font-weight: 500;" class="text-center">RESET PASSWORD</h3>
    <div>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Username or Email</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-6">
                <button class="w-100" mat-raised-button color="primary" type="submit">Reset Password</button>
            </div>
            <div class="col-sm-6 mt-sm-0 mt-2">
                <button routerLink="/" class="w-100" mat-raised-button color="accent">Sign In</button>
            </div>
        </div>
    </div>

</form>